# Import Libreries

In [2]:
import pandas as pd 
import numpy as np
import os

In [3]:
# create a main folder path variable (path)
path = r'C:\Users\gra_j\OneDrive\Documents\careerfounfry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [4]:
# import the customers file from the original data
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [36]:
#  import the "ords_prods_grouped" file from the prepared data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

### 4. Renaming columns

In [5]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
# renaming colum "First Name" to first_name
df_customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [8]:
# renaming colum "Surnam" to surname
df_customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [10]:
# renaming colum "Gender" to gender
df_customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [12]:
# renaming colum "STATE" to state
df_customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [13]:
# renaming colum "Age" to age
df_customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [35]:
df_customers.shape

(206209, 10)

In [14]:
df_customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### 5. Data consistency

In [23]:
df_customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [24]:
df_customers.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [41]:
# changing data type from int64 to string 
df_customers['user_id']= df_customers['user_id'].astype('int64')

In [42]:
df_customers.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [20]:
# checking for mixed type columns
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\gra_j\AppData\Local\Temp\ipykernel_41708\3008184291.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)

In [30]:
# changing data type from object to string 
df_customers['first_name']= df_customers['first_name'].astype('str')

In [32]:
# find missing values
df_customers.isnull().sum()

user_id         0
first_name      0
surname         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [33]:
# find duplicate values 
df_dups = df_customers[df_customers.duplicated()]

In [34]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

### Combining Data

In [37]:
df_customers.shape

(206209, 10)

In [45]:
df_customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [38]:
ords_prods_merge.shape

(32404859, 24)

In [44]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_prices_of_products', 'spending_flag', 'median_days_prior_order',
       'frequency_flag'],
      dtype='object')

In [43]:
# merging the data frames
df_merged_large =ords_prods_merge.merge(df_customers, on = 'user_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [46]:
# Dropping the merge columns
ords_prods_merge = ords_prods_merge.drop(['_merge'], axis=1)

In [51]:
# merging the data frames
df_merged_large =ords_prods_merge.merge(df_customers, on = 'user_id', indicator = True)

In [52]:
#check the output of new dataframe
df_merged_large.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

In [54]:
#  confriming the results of the merge flag
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [55]:
# 8. Exporting the new dataframe in a pkl format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_customers.pkl'))